.DetailsBox{
    /* border: 1px solid black; */
    padding: 30px;
    margin: 20px 0 20px 0;
    box-shadow: 1px 1px 1px 1px black; 
    /* margin-top:20px; */
}
.detailsInp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}
.detailsInpField{
    width: 300px;
    height: 40px;
    border: none;
    padding: 5px;
    margin-left: 10px;
    border-radius: 3px;
    border:1px solid black;
}
.btn{
    width: 150px;
    height: 40px;
    font-weight: 600;
}
.detailTxt{
    font-weight: 400;
}
.mrgn{
    margin-top:30px;
}
.btnColor{
    /* color:red; */
}