* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
 background-color: #f4efef;
}

.details-container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
  margin-bottom: 20px;
}


table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}